

.banner {
    position: relative;
    top: 0;
    left: 0;
}

.banner-img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.slider-dots {
    width: 10%;
    position: absolute;
    top: 93%;
    left: 45%;
}

.menu-item img {
    width: 100%;
}